<% if type == :new 
  action = sub_posts_url
  button_text = "Create Post"
elsif type == :sub_new
  action = sub_posts_url(@sub)
  button_text = "Create Post"
else
  action = sub_post_url(@post)
  button_text = "Update Post"
end
%>

<form class="" action="<%= action %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <% if type == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <!-- <input type="hidden" name="post[sub_id]" value="<%#=params[:sub_id]%>"> -->
  
  <label for="">Title:
  <input type="text" name="post[title]" value="<%= @post.title %>">
</label><br>
  <label for="">URL:
  <input type="text" name="post[url]" value="<%= @post.url %>">
</label><br>
  <label for="">Content:
  <input type="textarea" name="post[content]" value="<%= @post.content %>">
</label><br>

<input type="submit" value="<%= button_text %>">
</form>