<h2><%= @post.title %></h2>
<h4>Author: <a href="#"><%=User.find(@post.author_id).username%></a></h5>

 <img src="<%=@post.url%>" alt="cute doggo">
 
 <p><%=@post.content%></p>
 
 <%= link_to "Back to Sub", sub_url(@post.sub_id) %>
 