<h2>r/<%=@sub.title%></h2>
<ul>
  <%@sub.posts.each do |post1|%>
    <li><a href="<%=post_url(post1.id)%>"><%=post1.title%></a></li>
  <%end%>
</ul>

<%@post = Post.new%>
<%=render "/posts/form", type: :sub_new, post: @post, sub: @sub%>

<%if current_user.id == @sub.moderator_id%>
  <h3>Hi, moderator <%=current_user.username%></h3>
  <a href="<%=edit_sub_url%>">Edit This Sub</a>
<%end%><br>

<a href="<%=subs_url%>">See All Subreddits</a>
